.advantages__intro {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: @dark-blue;
  background-color: @white;
}

.advantages__list {
  background-color: @light-gray;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @dark-blue;
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
}

.advantages__img {
  background-image: url("../img/iphone-screen-3.jpg"), url("../img/iphone-screen-2.jpg"), url("../img/iphone-screen-1.jpg"), url("../img/iphone-3.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-color: @dark-pink;
  width: 157px;
  height: 320px;
}
