.advantages__intro {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: @dark-blue;
  background-color: @white;
}

.advantages__list {
  background-color: @light-gray;
  background-image: url("../img/hi-everyone.png");
  background-position: left top;
  background-repeat: no-repeat;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @dark-blue;
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
}
