.contacts {
  color: @dark-blue;
  background-color: @white;
  text-align: center;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.contacts__var {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contacts__var a {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @dark-pink;
  text-decoration: none;
  display: block;
}

.contacts__street {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @dark-pink;
  text-decoration: none;
}

.contacts__map {
  height: 200px;
}

.contacts__mapImg {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    font-size: 40px;
    line-height: 54px;
  }

  .contacts__var {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__tel {
    display: block;
    text-align: center;
  }

  .contacts__map {
    height: 374px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__map {
    height: 502px;
  }
}
