.contacts {
  color: @dark-blue;
  background-color: @white;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.contacts__var {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contacts__var a {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @dark-pink;
  text-decoration: none;
}
