.download-app {
  display: flex;
  flex-direction: column;
}

.download-app__a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  list-style-type: none;
  color: @white;
  border: 3px solid @white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 20px;
  align-self: center;
}

.download-app__avialability {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;
  text-align: center;
}

.download-app__list {
  padding: 0;
  display: flex;
  justify-content: center;
}

.download-app__link {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.download-app__apple {
  background-image: url("../img/apple-logo.svg");
}

.download-app__android {
  background-image: url("../img/android-logo.svg");
}

.download-app__microsoft {
  background-image: url("../img/microsoft-logo.svg");
}
