.download-app {
  background-color: @dark-blue;
}

.download-app__a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  list-style-type: none;
  color: @white;
  border: 3px solid @white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 20px;
}

.download-app__avialability {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;
}
