.download-app {
  background-color: @dark-blue;
  display: flex;
  align-items: center;
}

.download-app__a {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  list-style-type: none;
  color: @white;
  border: 3px solid @white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 20px;
}

.download-app__avialability {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;
}

.download-app__list {
  display: flex;
}

.download-app__apple {
  background-image: url("../img/apple-logo.svg");
  display: block;
}

.download-app__android {
  background-image: url("../img/android-logo.svg");
}

.download-app__microsoft {
  background-image: url("../img/microsoft-logo.svg");
}
