.form {
  background-color: @white;
}

.form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: @dark-pink;
  text-transform: uppercase;
}

.form__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
  border: 2px solid @gray;
  border-radius: 1px;
}

.form__achievements {
  background-color: @light-gray;
}

.form__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-pink;
}

.checkbox__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}

.form__labelTel {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @dark-pink;
}

.form__inputTel {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
  border: 2px solid @gray;
  border-radius: 1px;
}

.form__emotionsDescribe {
  background-color: @white;
}

.form__emotionsLegend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-pink;
}

.form__emotionsText {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}

.form__buttonSend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  background: @green;
  border: 2px solid @green;
  border-radius: 1px;
  color: @white;
}

.form__required {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
