.modal {
  background: @white;
}

.modal__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.modal__text2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
}

.modal__close {
  color: @white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;
  font-family: inherit;
}

.modal__notOk,
.modal__ok {
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
}
