.page-header__container {
  background-color: @black30;
  padding: 20px;
  display: flex;
  align-items: center;
}

.page-header__toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
}
