.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.page-footer__logo {
  margin: 40px 0 0 0;
}

.page-footer__social-list {
  list-style-type: none; /* Убираем маркеры для ul li*/
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 31px;
  //margin-left: 14px;
  margin-bottom: 39px;
  margin-right: 0;
}

.page-footer__social-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__social-item a {
  display: block;
  position: relative;
  width: 54px;
  height: 54px;
}

.page-footer__link::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.page-footer__link--twitter::before {
  background-image: url("../img/twitter.svg");
  border: 3px solid @dark-blue10;
  border-radius: 50px;
}

.page-footer__link--facebook::before {
  background-image: url("../img/facebook.svg");
  border: 3px solid @dark-blue10;
  border-radius: 50px;
}

.page-footer__link--youtube::before {
  background-image: url("../img/youtube.svg");
  border: 3px solid @dark-blue10;
  border-radius: 50px;
}

.page-footer__link--twitter:hover::before,
.page-footer__link--facebook:hover::before,
.page-footer__link--youtube:hover::before {
  border: 3px solid @dark-blue;
}

.page-footer__link--twitter:active::before,
.page-footer__link--facebook:active::before,
.page-footer__link--youtube:active::before {
  border: 3px solid @dark-blue10;
}

.page-footer__link--twitter:active::before {
  background-image: url("../img/twitter-03.svg");
}

.page-footer__link--facebook:active::before {
  background-image: url("../img/facebook-03.svg");
}

.page-footer__link--youtube:active::before {
  background-image: url("../img/youtube-03.svg");
}

.page-footer__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-blue;
  display: block;
  padding-top: 9px;
  margin-left: 2px;
  margin-right: 16px;
}

.page-footer__copyright-text--form {
  margin-right: 44px;
  padding-top: 10px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

.page-footer__copyright-link {
  text-decoration: none;
}

.page-footer-svg {
  fill: @dark-pink;
}

.page-footer-svg:hover {
  fill: @dark-blue;
}

.page-footer-svg:active {
  fill: @dark-blue;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 37px;
    padding-left: 0;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  .page-footer__form {
    padding-top: 38px;
  }

  .page-footer__logo {
    margin-top: 0;
    margin-right: 65px;
  }

  .page-footer__social-list {
    margin: 0;
  }

  .page-footer__copyright-link {
    margin-left: 76px;
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 69px;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
  }

  .page-footer__social-list {
    margin: 0 0 0 8px;
    padding: 0;
  }

  .page-footer__social-item {
    margin: 0;
    padding: 0;
    margin-right: 6px;
  }

  .page-footer__copyright {
    margin-top: 10px;
  }

  .page-footer__copyright-link {
    margin: 0;
    padding: 0;
  }

  .page-footer__copyright-text {
    font-size: 18px;
    line-height: 18px;
    margin: 7px 14px 0 0;
    padding: 0;
  }
}
