
.page-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.page-footer__logo {
  margin-bottom: 41px;
}

.page-footer__social-list {
  list-style-type: none; /* Убираем маркеры для ul li*/
  margin: 0; /*убираем автоматику ul*/
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}

.page-footer__social-item a {
  margin-right: 14px;
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
}

.page-footer__link::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.page-footer__link--twitter::before {
  background-image: url("../img/twitter.svg");
  border: 3px solid @dark-blue10;
  border-radius: 50px;
}

.page-footer__link--facebook::before {
  background-image: url("../img/facebook.svg");
  border: 3px solid @dark-blue10;
  border-radius: 50px;
}

.page-footer__link--youtube::before {
  background-image: url("../img/youtube.svg");
  border: 3px solid @dark-blue10;
  border-radius: 50px;
}

.page-footer__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-blue;
  position: relative;
  display: block;
  margin-right: 15px;
}
/*
.page-footer__place::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.page-footer__copyright-link {
  background-image: url("../img/html-academy.svg");
  width: 27px;
  height: 34px;
}*/
