.page-header {
  //background-image: url("../img/back-mobile.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-color: @dark-blue;
}

.page-header__mobMenu {
  background-color: @black30;
}

.page-header__LogoButton {
  box-shadow: 0 1px 0 @black;
  background-color: @dark-blue;
  //background-color: @black30;
  display: grid;
  grid-template-columns: 50% 50%;
  //align-items: center;
  //padding-left: 20px;
  //padding-right: 20px;
}

.page-header__logo {
  padding: 17px 0;
  padding-left: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.page-header__toggle {
  border: none;
  background-color: transparent;
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    display: flex;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .page-header__toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  .page-header__LogoButton {
    background-color: transparent;
    box-shadow: none;
    padding-right: 0;
    display: flex;
  }

  .page-header {
    background-image: url("../img/back-desktop.jpg");
  }

  .page-header__logo {
    padding-top: 28px;
    padding-left: 0;
  }
}
