.posted {
  background-color: @light-gray;
}

.posted__callFor {
  background-color: @white;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
}

.posted__buttonDo {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @dark-pink;
  background-color: @white;
  border: 3px solid @dark-pink;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 18px 89px;
}

.posted__buttonDont {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @dark-blue;
  background-color: @white;
  border: 3px solid @dark-blue;
  box-sizing: border-box;
  border-radius: 30px;
  opacity: 0.1;
  padding: 18px 100px;
}
