.radio {
  background-color: @light-gray;
}

.radio__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-pink;
}

.radio__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}
