.user__first {
  background-color: @white;
}

.user__wrapper {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 17px;
}

.user__publication-wrapper {
  padding: 18px 10px 18px 17px;
  margin-bottom: 21px;
  background-color: @light-gray;
}

.user__net {
  background-color: @light-gray;
  margin-bottom: 22px;
}

.user__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: @dark-blue;
}

.user__publication-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @dark-blue;
}

.user__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: @dark-blue;
}

.user__button {
  display: flex;
  border: none;
  margin-top: 12px;
}

.user__button-like,
.user__publication-button-like {
  border: none;
  padding: 0;
  background-color: transparent;
}

.user__publication-button {
  margin-top: 10px;
}

.user__publication-button-like {
  margin: 0 19px 0 0;
}

.user__button-like {
  margin-right: 18px;
}


.user__button-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @dark-pink;
  margin-right: 3px;
}

@media (min-width: @tablet-width) {
  .user__publication-name {
    padding-top: 4px;
  }

  .user__publication-time {
    margin-left: 3px;
    padding-top: 5px;
  }

  .user__time {
    padding: 0;
    margin: 0;
  }

  .user__publication-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 23px;
    margin-bottom: 50px;
  }

  .user__publication-button {
    order: 1;
    display: flex;
    margin-left: 304px;
    margin-top: 6px;
    margin-right: 0;
  }

  .user__publication-text {
    display: block;
  }

  .user__publication-button-like {
    margin: 0;
  }

  .user__button-like,
  .user__publication-button-like,
  .user__publication-text {
    order: 2;
  }

  .user__net-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user__net {
    width: min-content;
  }

  .user__button-text {
    margin: 0 3px 0 0;
  }

  .user__button-text-figures {
    margin: 0 15px 0 0;
  }

  .user__publication-text-br1 {
    display: none;
  }

  .user__text-people {
    width: 232px;
  }

  .user__button-like {
    margin-right: 30px;
    margin-left: auto;
  }

  .user__net-last {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .user__img {
    display: block;
  }

  .user__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 155px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .user__text {
    width: 100%;
  }

  .user__button {
    margin-top: auto;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-main-catalog__wrapper {
    height: 508px;
  }
}
