.user {
  background-color: @white;
}

.user__wrapper {
  background-color: @light-gray;
  padding: 25px 10px 25px 17px;
}

.user__main-wrapper {
  position: relative;
}

.user__panorame {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: @white;
  text-transform: uppercase;
  background-color: @dark-pink;
  padding: 13px 19px;
  position: absolute;
  top: 0;
  right: 20px;
}

.user__panorame-img {
  object-fit: cover;
  width: 100%;
}

.user__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: @dark-blue;
}

.user__publication-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @dark-blue;
}

.user__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: @dark-blue;
}

.user__button {
  display: flex;
  border: none;
}

.user__button-like {
  border: none;
  margin-right: 18px;
  background-color: transparent;
}

.user__button-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @dark-pink;
  margin-right: 3px;
}

@media (min-width: @tablet-width) {
  // .user__main-wrapper {
  //   background-image: url("../img/panorama-tablet2.jpg");
  //   width: 660px;
  //   height: 509px;
  // }

  .user__panorame {
    top: 20px;
    right: 57px;
  }

  .user__publication-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .user__publication-button {
    order: 1;
    display: flex;
    margin-left: auto;
  }

  .user__publication-text {
    order: 2;
    display: block;
  }

  .user__publication-button-like {
    order: 2;
  }

  .user__net-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 50% 50%;
  }

  .user__net {
    width: min-content;
  }
}
